body{
font-family:Arial;
background:#f3f3f3;
padding:15px;
}

.container{
max-width:700px;
margin:auto;
background:white;
padding:20px;
border-radius:10px;
}

h1{
text-align:center;
color:#b8860b;
}

input{
width:100%;
padding:10px;
margin-top:5px;
margin-bottom:10px;
box-sizing:border-box;
}

button{
width:100%;
padding:12px;
background:#b8860b;
color:white;
border:none;
margin-bottom:10px;
}

.card{
background:#fafafa;
padding:10px;
margin:10px 0;
border-left:4px solid #b8860b;
}

.bill{
background:white;
border:2px solid #b8860b;
padding:15px;
margin-top:15px;
}

.bill h2{
text-align:center;
color:#b8860b;
}
